body {
    font-family: 'Catamaran';
    color: #282828;
    font-size: 25px;
    margin:0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #4078C0;
}

.wrapper {
    position: relative;
}

/*-------------------- LANDING CONTENT --------------------*/
.top {
    margin-left: 43px;
    margin-right: 43px;
}

.landing-img {
    width: 45%;
    height: auto;
    max-width: 900px;
    display: inline-block;
    margin-top: 43px;
    margin-right: 0;
    vertical-align: top;
}

.landing-text {
    margin-top: 43px;
    max-width: 45px;
    width: 3%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

/*--------------------- MAIN CONTENT ---------------------*/

.bottom {
    width: 100%;
}

.page {
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.content {
    margin-left: 35px;
    margin-right: 35px;
}

/*---------- TAB SECTION ---------*/

.tabs-div {
    margin-right: 43px;
    margin-left: 43px;
    margin-bottom: -1px;
}

.tab {
    display: inline-block;
    text-align: center;        
    font-family: 'Chathura';
    font-size: 26px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    letter-spacing: 5px;
}

.tab:hover {
    cursor: pointer;
    color: #4078C0;
}

.space-tab {
    width: 50%;
}

.tabs {
    width: 50%;
    display: inline-block;
}

.about-tab, .portfolio-tab, .contact-tab {
    width: 32%;
    height: 50px;
}

.about-tab {
    background-color: #747474;
    margin-left: 2%;
}

.portfolio-tab {
    background-color: #3F3F3F;
    color: #C0C0C0;
    margin-left: 1%;
    margin-right: 1%;
}

.contact-tab {
    background-color: #282828;
    color: #F1F1F1;
}

.tab-txt {
    margin-top: 5px;
    margin-bottom: 0;
}

/*---------- MAIN CONTENT DIV ----------*/

.main {
    margin: 0 auto;
    width: 100%;
}

/*----- ABOUT SECTION------*/

.about {
    background-color: #747474;
    display: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 37px;
    font-size: 15px;
}

/*----- PORTFOLIO SECTION-----*/

.portfolio {
    background-color: #3F3F3F;
    color: #A5A5A5;
    text-align: center;
}

.row {
    padding-top: 30px;
}

/*-- TITLE --*/

.title, .description, .proj-image {
    max-width: 1000px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 70px;
    letter-spacing: 20px;
    font-family: 'Chathura';
}

.sup {
    letter-spacing: 2px;
}

.long {
    font-size: 40px;
}

/*-- SCREENSHOT --*/

.proj-image {
    position: relative;
    margin: 0 auto;

}

.image, .hover-image {
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.hover-image {
    display: none;
}

.description {
    position: absolute; 
    top: 100px; 
    left: 0; 
    line-height: 1;
    letter-spacing: 2px;
    display: none;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: #282828;
}

/*-- ICONS --*/

.gh, .dt {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    text-align: left;
}

/*----- CONTACT SECTION -----*/

.contact {
    background-color: #282828;
    color: #D8D8D8;
    display: none;
    height: 300px;
}

/*-- ICONS --*/

.fa {
    width: 5%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10%;
    display: inline-block;
    color: #F5F5F5;
}

.fa-linkedin {
    padding-bottom: 6px;
}

a:hover > .fa {
    color: #4078C0;
    cursor: pointer;
}

/*---------------------- PERIMETER BORDER -----------------------*/

.border-top {
    top: 20px;
}

.border-bottom {
    bottom: 13px;
}

.border-left {
    left: 20px;
}

.border-right {
    right: 20px;
}

.border-left, .border-right {
    width: 3px;
    top: 20px;
    bottom: 13px;
}

.border-top, .border-bottom {
    height: 3px;
    left: 20px;
    right: 20px;
}

.border-top, .border-bottom, .border-left, .border-right {
    position: absolute;
    background-color: #A5A5A5;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    z-index: 10;
}